* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  min-width: 320px;
  font-family: var(--font-family-base);
}

button,
input,
select,
textarea {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}
