<div class="lightbox" (click)="handleBackdropClick($event)">
  <div class="lightbox__dialog" role="dialog" aria-modal="true" aria-label="Video preview">
    <button type="button" class="lightbox__close" (click)="dialogRef.close()">Close</button>

    @if (media.type === 'video') {
      <video
        class="lightbox__video"
        [src]="media.src"
        [poster]="media.poster"
        controls
        autoplay
        playsinline
      ></video>
    } @else {
      <img class="lightbox__image" [src]="media.src" [alt]="media.alt" />
    }
  </div>
</div>
